body {
  direction: rtl;
  margin-left: auto;
  margin-right: auto;
  background-color: #007BFF; /* أزرق */
  color: rgb(90, 63, 245);
}
header {
  text-align: center;
  color: #f1f6fb;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}
form{
  margin-left: auto;
  margin-right: auto;
}
input,
textarea,
select {
  margin: 5px 5px;
}
input:hover,
textarea:hover,
select:hover {
  background-color: #c9dfeb;
  border: 1.5px #095379 dotted;
}
pre{
    color: #dc3545;
}
footer {
  text-align: center;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    122deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
}
